<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.login.pagetitle}">CAS Login View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body class="login mdc-typography">
<div layout:fragment="content" class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-md-row flex-column mdc-card mdc-card-content card flex-grow-1"
         th:with="loginFormEnabled=${#cas.isTrue(#cas.theme('cas.login-form.enabled'))},
                  loginFormViewable=${#cas.isLoginFormViewable(#vars)}">
        <div class="login-card w-100">
            <!-- Tab 标签页导航 -->
            <div class="card-header tab-nav-header" th:if="${(loginFormViewable and loginFormEnabled)
        or ((#bools.isFalse(delegatedAuthenticationDynamicProviderSelection) and #bools.isFalse(delegatedAuthenticationDisabled))
            and (#cas.isTrue(delegatedAuthenticationProviderConfigurations) or #cas.isTrue(wsfedUrls)))
        or qrAuthenticationEnabled}">
                <ul class="nav nav-tabs card-header-tabs" id="loginTab" role="tablist">
                    <!-- 账号密码登录 Tab -->
                    <li class="nav-item" role="presentation" th:if="${loginFormViewable and loginFormEnabled}">
                        <button class="nav-link active" id="form-tab" data-bs-toggle="tab"
                                data-bs-target="#loginForm" type="button" role="tab"
                                aria-selected="true">账号密码登录</button>
                    </li>

                    <!-- 第三方登录 Tab -->
                    <li class="nav-item" role="presentation"
                        th:if="${(#bools.isFalse(delegatedAuthenticationDynamicProviderSelection)
                       && #bools.isFalse(delegatedAuthenticationDisabled))
                       && (#cas.isTrue(delegatedAuthenticationProviderConfigurations)
                       || #cas.isTrue(wsfedUrls))}">
                        <button class="nav-link" id="providers-tab" data-bs-toggle="tab"
                                data-bs-target="#loginProviders" type="button" role="tab"
                                aria-selected="false">第三方登录</button>
                    </li>

                    <!-- 二维码登录 Tab -->
                    <li class="nav-item" role="presentation" th:if="${qrAuthenticationEnabled}">
                        <button class="nav-link" id="qrlogin-tab" data-bs-toggle="tab"
                                data-bs-target="#qrlogin" type="button" role="tab"
                                aria-selected="false">二维码登录</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content card-body">
                <!--<section id="loginSidePanel"
                         th:if="${loginFormViewable and loginFormEnabled and #cas.isTrue(#cas.theme('cas.login-side-panel.enabled'))}"
                         class="login-section d-xs-none d-md-block card-body">
                    <div th:replace="~{fragments/loginSidePanel :: loginSidePanel}">
                        <a href="fragments/loginSidePanel.html">loginSidePanel</a>
                    </div>
                </section>-->

                <section id="loginForm"
                         th:if="${loginFormViewable and loginFormEnabled}"
                         class="login-section login-form card-body">
                    <div th:replace="~{fragments/loginform :: loginform}">
                        <a href="fragments/loginform.html">Login Form goes here</a>
                    </div>
                </section>
                <section id="loginProviders" class="login-section login-providers card-body"
                         th:if="${(#bools.isFalse(delegatedAuthenticationDynamicProviderSelection)
                               && #bools.isFalse(delegatedAuthenticationDisabled))
                               && (#cas.isTrue(delegatedAuthenticationProviderConfigurations)
                               || #cas.isTrue(wsfedUrls))}">
                    <div th:replace="~{fragments/loginProviders :: loginProviders}">
                        <a href="fragments/loginProviders.html">loginProviders</a>
                    </div>
                </section>
                <section id="qrlogin" class="login-section login-qr d-xs-none d-md-block card-body" th:if="${qrAuthenticationEnabled}">
                    <div th:replace="~{fragments/qrAuthentication :: qrAuthentication}">
                        <a href="fragments/qrAuthentication.html">qrAuthentication</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>

</html>
